body {
    background:#f0f0f0;
}

#custom-search-input {
    margin:0;
    margin-top: 40px;
    padding: 0;
}



#custom-search-input .search-query {
    border-radius: 13px;
}
 
#custom-search-input button {
    border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    margin-bottom: 0;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
}

.search-query:focus + button {
        z-index: 3;   
}


.nav {
    left:50%;
    margin-left:-160px;
    top:50px;
    position:absolute;
}

.nav>li>a:hover, .nav>li>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background:#fff;
}

.dropdown {
    background:#fff;
    border:1px solid #ccc;
    border-radius:4px;
    width:300px;    
}

.dropdown-menu>li>a {
    color:#428bca;
}

.dropdown ul.dropdown-menu {
    border-radius:4px;
    box-shadow:none;
    width:300px;
}

.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}

.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}
